<div class="aboutUsPage">
    <div class="blocks first" id="block-1">
        <div class="block-left">
            <span class="grow">information page <img src="assets/images/info.png"></span>
        </div>
    </div>
    
    <div class="blocks second" id="block-2">
        <div class="block-right col-12">
            <div class="grow content-1 offset-7 col-5">
            <h2>MISION</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend volutpat nisl, non blandit dui bibendum ut. Quisque congue rutrum justo in ultricies. Pellentesque massa est, tincidunt sed tincidunt vitae, interdum imperdiet nisl. Aenean
            consectetur iaculis est, et convallis leo blandit sed. Quisque tellus massa, consectetur tincidunt eleifend nec, tempor sed augue. Morbi consequat, urna et hendrerit finibus, lorem urna varius metus, vitae convallis diam lectus et dui. Vestibulum
            in tellus porttitor, sodales elit quis, vestibulum turpis. Donec ut diam in enim pellentesque lacinia. Mauris sit amet tempor tellus. Integer iaculis feugiat sem. Etiam sed ultrices ligula.
            </p>
            </div>
        </div>
    </div>
    
    <div class="blocks first" id="block-3">
        <div class="block-left">
            <div class="grow content-2 col-5">
                <h2>QUIENES SOMOS?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend volutpat nisl, non blandit dui bibendum ut. Quisque congue rutrum justo in ultricies. Pellentesque massa est, tincidunt sed tincidunt vitae, interdum imperdiet nisl. Aenean
                consectetur iaculis est, et convallis leo blandit sed. Quisque tellus massa, consectetur tincidunt eleifend nec, tempor sed augue. Morbi consequat, urna et hendrerit finibus, lorem urna varius metus, vitae convallis diam lectus et dui. Vestibulum
                in tellus porttitor, sodales elit quis, vestibulum turpis. Donec ut diam in enim pellentesque lacinia. Mauris sit amet tempor tellus. Integer iaculis feugiat sem. Etiam sed ultrices ligula.</p>
            </div>
        </div>
    </div>
    
    <div class="blocks second" id="block-4">
        <div class="block-right col-12">
            <div class="content-3 offset-6 col-5">
                <h2>FUNDADORES</h2>
                <br>
                <div class="row">
                    <div class="col-md-10">
                        <img class="img-center" src="assets/images/farmer1.jpg" alt="stock-img-1">
                        <h3>CEO Juan Perez</h3>
                    </div>
                    <br>
                    <div class="col-md-10">
                        <img class="img-center" src="assets/images/farmer2.jpg" alt="stock-img-1">
                        <h3>COO Juan Martinez</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="blocks first" id="block-5">
        <div class="block-left">
            <div class="content-4 col-5">
                <h2>RESEÑA HISTORICA</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend volutpat nisl, non blandit dui bibendum ut. Quisque congue rutrum justo in ultricies. Pellentesque massa est, tincidunt sed tincidunt vitae, interdum imperdiet nisl. Aenean
                consectetur iaculis est, et convallis leo blandit sed. Quisque tellus massa, consectetur tincidunt eleifend nec, tempor sed augue. Morbi consequat, urna et hendrerit finibus, lorem urna varius metus, vitae convallis diam lectus et dui. Vestibulum
                in tellus porttitor, sodales elit quis, vestibulum turpis. Donec ut diam in enim pellentesque lacinia. Mauris sit amet tempor tellus. Integer iaculis feugiat sem. Etiam sed ultrices ligula.</p>
            </div>
        </div>
    </div>
    -->
</div>