  .Wrapper {
    width: 100%;
    background: linear-gradient(to bottom, #daebe8, #E3FCEC);
    padding: 0;
    display: flow-root;
    animation-delay: 1s;
    animation: bounceInUp 0.9s ease-in;
  }
  #storeTopImg {
    animation: fadeIn 0.9s ease-in;
    background: url(../images/slide14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    opacity: 0.7;
  }

.storeMainHeadline {
    position: absolute;
    width: 30%;
    top: 30vh;
    left: 10%;
    text-align: center;
    height: 220px;
    padding-top: 60px;
    text-transform: uppercase;
    border-radius: 200px;
    color: #fff;
    box-shadow: 1px 6px 10px 11px rgba(0, 0, 0, 0.5);
    animation: flipInX 1s ease;
  }

  .storeMainHeadline h1 {
    font-size: 3em;
    font-weight: 700;
    font-family: cursive;
    letter-spacing: 10px;
  }

  .Sidebar {
    z-index: 1;
    position: relative;
    display: table-cell;
    padding-left: 7px;
    transition: max-width 0.3s ease , min-width 0.3s ease;
  }

  .sidebarBorder {
    margin-top: 30px;
    box-shadow: 0 6px 4px 0px rgba(0, 0, 0, 0.25); 
    background: #ffffff;
  }

  .sidebarBorder .totalPrice {
    padding: 10px 10px;
    margin-bottom: 30px;
    font-size: 2.1em;
    color: #588c7e;
    font-family: fantasy;
    font-weight: 100;
    border: 1px solid #588c7e;
    transition: 0.4s;
  }

  .sidebarBorder .totalPrice:hover {
    background: #588c7e;
    color: #ffffff;
    transition: 0.3s;
  }

  .sidebarBorder .cartButtons a, .sidebarBorder .cartButtons button  {
    font-size: 1.7em;
  }

  .sidebarBorder .cartButtons a {
    background: #96ceb4;
    color: #ffffff;
    margin-bottom: 20px;
    transition: 0.3s;
  }

  .sidebarBorder .cartButtons a:hover {
    background: #00cc66;
    transition: 0.3s;
  }

  .sidebarBorder .cartButtons button {
    background: #87bdd8;
    color: #ffffff;
    transition: 0.3s;
  }

  .sidebarBorder .cartButtons button:hover {
    background: #4d79ff;
    transition: 0.3s;
  }

  .Sidebar .list-group {
    display: grid;
  }

  .Sidebar .list-group-item {
    transition: 0.3s;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    display: block;
  }

  .Sidebar .list-group-item {
    text-transform: uppercase;
    font-weight: bold;
  }

  .Sidebar .itemLeft {
    float: left;
  }

.Sidebar .itemRight .my-0 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 2px 10px;
}

.Sidebar .itemRight button {
  float: left;
}

.Sidebar .button3 {
  margin-top: 5px;
  font-size: 15px;
  margin-right: 2px;
  display: inline-block;
  padding: 0px 15px;
  font-weight: bold;
  text-align: center;
  background-color: white; 
  color: black; 
  border: 1px solid #3F729B;
  transition: 0.3s;
}

#cartBtns {
  display: inline-flex;
  text-align: center;
}

#cartItemPrice {
  margin-top: 6px;
}

#cartItemPrice .badge {
  background-color: #fff;
  color: darkgreen;
  font-size: 1.2em;
  font-family: monospace;
  letter-spacing: -2px;
}

.Sidebar .button3:hover {
  transition: 0.3s;
  background-color: firebrick;
  border-color: #fff;
  color: white;
} 

  .Sidebar .itemLeft h4 {
    display: inline;
  }

  .Sidebar.is-collapsed {
    transition: 0.4s;
    max-width: 100px;
    min-width: 100px;
  }

  .Sidebar.is-collapsed .list-group {
    transition: 0.3s;
    display: none;
  }

  .Sidebar.is-collapsed .cartButtons {
    font-size: 5px;
  }

  .Sidebar.is-collapsed .Sidebar-toggleText {
    display: none;
  }

  .Sidebar-title {
    margin-top: 50px;
  }

  .Sidebar-logo {
    color: #818181;
    text-align: center;
  }

  .Sidebar-logo h1 {
    display: inline;
  }

  .Sidebar-logo span {
    font-size: 1.4em;
    margin-top: -8px;
    margin-left: 5px;
  }

  .Sidebar-logo .sidebar-icon {
      position: absolute;
  }

  .Sidebar-res {
    margin-top: 10px;
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px darkseagreen;
  }
  .Sidebar-res:hover {
    background: darkseagreen;
    opacity: 0.8;
    cursor: pointer;
  }
  .Sidebar-res:hover .Sidebar-toggleArrow {
    transition: left 0.2s ease, rotate 1s ease;
    left: 70px;
  }

  .Sidebar-res:hover .Sidebar-toggleText {
    opacity: 1;
    animation: fadeIn 0.75s ease;
    color: #fff;
  }

  .Sidebar-toggleArrow {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-7px);
    cursor: pointer;
    transition: left 0.2s ease;
  }

  .Sidebar-toggleText {
    position: absolute;
    bottom: 14px;
    left: 45%;
    opacity: 0;
    color: #818181;
    font-size: 20px;
    white-space: nowrap;
  }
  .Sidebar-menuIcon {
    color: #818181;
  }

  @media(max-height: 590px) {
    .storeMainHeadline {
      height: 150px;
      padding-top: 30px;
    }
  }

@media(max-width: 1200px) {
  .Sidebar .list-group-item {
    margin-left: 5px;
  }
}

@media(max-width: 1000px) {
  .Sidebar .button3 {
    padding: 0px 10px;
  }
  .Sidebar .itemLeft h4 {
    font-size: 15px;
  }
}

@media(max-width: 950px) {
  .storeMainHeadline {
    width: 40%;
    padding-top: 40px;
  }
  .storeMainHeadline h1 {
    font-size: 2.5em;
  }
  #cartItemPrice .badge {
    font-size: 12px;
  }
  .Sidebar .button3 {
    padding: 0px 5px;
  }
  .Sidebar .itemLeft h4 {
    font-size: 12px;
  }
}

@media(max-width: 820px) {
  .Sidebar .list-group-item {
    width: 70%;
    padding-left:0px; 
  }
}

@media(max-width: 750px) {
  .Sidebar .list-group-item {
    width: 60%;
    margin-left: 7px
  }
}

@media(max-width: 720px) {
  .Sidebar {
    width: 120px;
  }
}

@media(max-width:630px) {
  .storeMainHeadline {
    width: 60%;
    left: 3%;
    padding-top: 15px;
    height: 100px;
  }
  .storeMainHeadline h1 {
    font-size: 2.2em;
  }
}

  @media(max-width: 575px) {
      .Sidebar-res {
        height: 40px;
        width: 80%;
    }
    .Sidebar-toggleArrow {
        top: 12px;
    }
    .Sidebar .itemLeft {
      padding-left: 0px;
    }
    .Sidebar .itemLeft h4 {
      font-size: 12px;
    }
    #cartBtns {
      display: grid;
      padding-left: 0px;
    }
    #cartItemPrice .badge {
      padding-left: 0px;
    }
  }

