<div class="storePage">
    <div class="container-fluide" id="storeTopImg">
        <img class="img" src="assets/images/welcome_store.jpg">
    </div>
    <div class="Wrapper container" ng-app="myApp">
        <br>
        <div class="Sidebar" ng-class="boolie ? 'is-collapsed' : ''">
            <header class="Sidebar-res" ng-click="boolie = !boolie">
                <i class="Sidebar-toggleArrow Sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
                <span class="Sidebar-toggleText">close</span>
            </header>
            <br>
            <div class="sidebarBorder">
                <div class="Sidebar-title">
                    <div class="Sidebar-logo">
                        <img class="img" src="assets/images/Shopping_Cart.png">
                        <span class="badge bagde-secondery badge-pill">{{ store.totalQty }}</span>
                    </div>
                </div>
                <br>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item hvr-bounce-to-top" ng-repeat="item in store.cartProducts track by $index">
                            <div class="col-sm-12 col-md-12 itemLeft">
                                <h4>{{ item.product.title }}</h4>
                                <small class="text-muted"> X {{ item.qty }}</small>
                            </div>
                            <br>
                            <div class="col-sm-12 col-md-12" id="cartBtns">
                                <a class="btn button3" role="button" href="/reduce/" title="Reduce by 1" ng-click="store.reduceByOne()" data-id="{{item.product._id}}">-1-</a>
                                <a class="btn button3" role="button" href="/remove/" title="Remove all" ng-click="store.removeAll()" data-id="{{item.product._id}}">x</a>
                            </div>
                            <br>
                            <div class="col-sm-8 col-md-8 text-right" id="cartItemPrice">
                                <span class="badge">$ {{ item.price }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="text-center totalPrice">
                    <span>Total price:  ${{ store.totalPrice }}</span>
                </div>
                <div class="cartButtons">
                    <a href="/checkout" type="button" class="btn col-sm-12 btn-lg hvr-icon-wobble-horizontal" title="Go to checkout"><i class="fas fa-credit-card hvr-icon"></i></a>
                    <button class="btn col-sm-12 btn-lg hvr-icon-pulse-grow" ng-click="store.openConfirmButton()" title="Save cart and logout"><i class="far fa-save hvr-icon"></i></button>
                </div>
                <button type="button" id="upBtn" class="btn hvr-icon-drop" ng-click="store.topFunction()">Up <i class="fas fa-arrow-up hvr-icon"></i></button>
            </div>
        </div>
        <div class="Main">
            <div class="navbar-form">
                <div class="form-group hvr-float-shadow" id="searchProductsInput">
                    <input type="text" class="form-control" id="inputSearchStore" name="search" placeholder="Search products.." ng-model="searchKeyword">
                </div>
                <button type="button" ng-click="store.search(searchKeyword, number);" class="btn hvr-bounce-to-top hvr-icon-wobble-vertical">Search <i class="fas fa-search hvr-icon"></i></button>
            </div>
            <div class="container" id="searchResults">
                <div>
                    <h1 ng-show="store.display">Resulte:</h1>
                    <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="product in store.products | filter: searchFilter | limitTo: store.limit">
                        <div class="thumbnail hvr-float-shadow hvr-glow">
                            <h3>{{ product.title }}</h3>    
                            <img src="{{ product.imagePath }}">
                            <a class="hvr-icon-bob" role="button" href="/add-to-cart/" ng-click="store.addToCart()" data-id="{{ product._id }}" data-product="{{ product }}">
                            <i class="fas fa-cart-plus hvr-icon"></i></a><span>${{ product.price }}</span>   
                        </div>   
                    </div>
                </div>
            </div>
            <div class="container" id="bestSellerContainer">
                <div class="bestSellersDiv">
                    <span class="section-title"><h1>Best Selleres</h1></span>
                    <br>
                    <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="product in store.bestSellers">
                        <div class="thumbnail hvr-glow hvr-hang">
                            <h3>{{ product.title }}</h3>    
                            <img src="{{ product.imagePath }}">
                            <a class="hvr-icon-wobble-horizontal" role="button" href="/add-to-cart/" ng-click="store.addToCart()" data-id="{{ product._id }}" data-product="{{ product }}">
                            <i class="fas fa-cart-plus hvr-icon"></i></a><span>${{ product.price }}</span>     
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="tab">
                    <span class="section-title"><h1>All Products</h1></span>
                    <div class="tabLinksContainer">
                        <button class="tablinks" data-category="snacks" ng-click="store.category()">Snacks</button>
                        <button class="tablinks" data-category="fresh" ng-click="store.category()">From the field</button>
                        <button class="tablinks" data-category="liquids" ng-click="store.category()">Liquids</button>
                        <button class="tablinks"  data-category="vegan" ng-click="store.category()">Vegan</button>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="product in store.current_category">
                            <div class="thumbnail hvr-box-shadow-outset hvr-bob">
                                <h3>{{ product.title }}</h3>    
                                <img src="{{ product.imagePath }}">
                                <a class="hvr-icon-buzz-out" role="button" href="/add-to-cart/" ng-click="store.addToCart()" data-id="{{ product._id }}" data-product="{{ product }}">
                                <i class="fas fa-cart-plus hvr-icon"></i></a><span>${{ product.price }}</span>    
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/ng-template" id="saveAndLogout">
    <div class="ngdialog-message">
        <h3>Save shopping cart and Sign out</h3>
        <hr>
        <h2 class="help-block">Sure yo wand to Sign out?</h2>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('OK')">Confirm</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
    </div>
</script>
